<mat-nav-list>
  <a mat-list-item routerLink="/inicio" (click)="onCerrarMenu()">
    <mat-icon>home</mat-icon>
    <span class="navigation-list-label">Inicio</span>
  </a>
  <a mat-list-item routerLink="/registrarse" (click)="onCerrarMenu()" *ngIf="!estadoUsuario">
    <mat-icon>how_to_reg</mat-icon>
    <span class="navigation-list-label">Registrar</span></a
  >
  <a mat-list-item routerLink="/login" (click)="onCerrarMenu()" *ngIf="!estadoUsuario">
    <mat-icon>login</mat-icon>
    <span class="navigation-list-label">Acceso</span></a
  >
  <mat-list-item>
    <button mat-icon-button (click)="terminarSesionMenu()" *ngIf="estadoUsuario">
      <mat-icon>logout</mat-icon>
      <span class="navigation-list-label">Salir</span>
    </button>
  </mat-list-item>
</mat-nav-list>
