mat-table {
  width: 100%;
  table-layout: auto;
}
mat-cell{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;

}
mat-table,
mat-paginator{
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8); /* Agrega un efecto de sombra */
  /* o */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); Agrega un efecto más elevado (raised) */
  border-radius: 3px; /* Agrega bordes redondeados */
  overflow: hidden; /* Evita que la sombra se muestre fuera del borde */
}

mat-cell {
  justify-content: center;
  width: auto;
  table-layout: auto;
  text-align: center;
}

mat-header-cell {
  justify-content: center;
  width: auto;
  table-layout: auto;
}

mat-header-cell.mat-column-generarPdf {
  min-width: 200px;
}

mat-cell,
mat-header-cell {
  min-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.responsive-table {
  overflow-x: auto;
  display: block;
  width: 100%;
}

@media (max-width: 599px) {
  .responsive-table {
    display: flex;
    flex-direction: column;
  }
}
a {
  color: #2b7cd8;
  text-decoration: none;
}

a {
  color: #2b7cd8;
  text-decoration: none;
}
