<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="60%">
    <input matInput type="text" (keyup)="hacerFiltro($event)" placeholder="Introduzca texto">
  </mat-form-field>
</div>
<mat-table [dataSource]="dataSourcePuertos" matSort (matSortChange)="ordenarColumna($event)">
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef mat-sort-header>nombre</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.nombre }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="items">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Ver items</mat-header-cell>
    <mat-cell *matCellDef="let element"><a href="/items?Ubicacionid={{element.id}}">ver items</a></mat-cell>
  </ng-container>
  <ng-container matColumnDef="añadir">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Añadir item</mat-header-cell>
    <mat-cell *matCellDef="let element"><a href="/registrar?Ubicacionid={{element.id}}">Añadir item</a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="mantenimientos">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>ver mantenimientos</mat-header-cell>
    <mat-cell *matCellDef="let element"><a href="/mantenimientos?Ubicacionid={{element.id}}">ver mantenimiento</a></mat-cell>
  </ng-container>
  <ng-container matColumnDef="añadirMantenimiento">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Añadir mantenimiento</mat-header-cell>
    <mat-cell *matCellDef="let element"><a href="/registrarMantenimiento?Ubicacionid={{element.id}}">Añadir mantenimiento</a></mat-cell>
  </ng-container>

  <ng-container matColumnDef="generarPdf">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Generar Pdf mantenimientos</mat-header-cell>
    <mat-cell *matCellDef="let element"><a (click)="crearPdf(element.id)">Generar Pdf</a></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="desplegarColumnasPuerto">
    <mat-row *matRowDef="let row; columns: desplegarColumnasPuerto"> </mat-row>
  </mat-header-row>

</mat-table>
<mat-paginator (page)="eventoPaginador($event)" #paginacion [pageSize]="puertosPorPagina" [pageSizeOptions]="paginaCombo" [length]="totalPuertos">
</mat-paginator>
