<section fxLayout="row" fxLayoutAlign="center">
  <mat-card>
    <form
      [formGroup]="mantenimientoForm"
      (ngSubmit)="registrarEditarMantenimiento()"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
      #f="ngForm">
      <div fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field>
            <mat-label>Elemento</mat-label>
            <mat-select
              formControlName="elementos"
              (selectionChange)="onSelected($event)"
              name="elementos"
              [(ngModel)]="selectItem">
              <mat-option *ngFor="let item of items" value="{{ item.id }}">{{item.marcaModelo}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado" name="estado">
              <mat-option value="Favorable">Favorable</mat-option>
              <mat-option value="Defecto Leve">Defecto Leve</mat-option>
              <mat-option value="Defecto Grave">Defecto Grave</mat-option>
              <mat-option value="Defecto Crítico">Defecto Crítico</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field>
            <mat-label>Corregido</mat-label>
            <mat-select
              formControlName="corregido"
              [(ngModel)]="selectCorregido"
              name="corregido"
            >
              <mat-option value="true">Si</mat-option>
              <mat-option value="false">No</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              formControlName="fechaMantenimiento"
              placeholder="Fecha del Mantenimiento"
              [matDatepicker]="picker"
              name="fechaMantenimiento"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="column" fxFlex="100">
        <div fxLayout="row" fxLayoutAlign="start start">
          <mat-form-field fxFlex="100">
            <mat-label>Periodicidad</mat-label>
            <input
              matInput
              type="text"
              formControlName="periocidad"
              name="periocidad"
              readonly
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Observaciones</mat-label>
            <input
              type="text"
              formControlName="observaciones"
              matInput
              name="observacionMantenimiento"
              ngModel
            />
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="column" fxFlex="85">
        <mat-form-field>
          <mat-label>Descripcion del Mantenimiento</mat-label>
          <textarea
            formControlName="descripcion"
            matInput
            name="descripcionMantenimiento"
            ngModel
            required
            rows="3"
          ></textarea>
        </mat-form-field>
      </div>

      <div fxLayout="column" fxFlex="100">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="f.invalid"
          style="margin: 0 auto"
        >
          <a
            >Añadir Mantenimiento<mat-icon style="padding-left: 5px"
              >add_circle</mat-icon
            ></a
          >
        </button>
      </div>
    </form>
  </mat-card>
</section>
