 <mat-toolbar color="primary">
 <!-- <button mat-icon button >
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Proyecto</span>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout="row" fxLayoutGap="10px" class="navegacion-menu">

      <li ><a  routerLink="/puertos">puertos</a></li>
      <li ><a class="ubicacion" routerLink="/edificios">edificios</a></li>
      <li ><a routerLink="/">Home</a></li>
      <li ><a routerLink="/registrar">registrar item</a></li>
      <li ><a routerLink="/items">Ver items</a></li>
      <li ><a routerLink="/items">Salir</a></li>
      </ul>
  </div>
</mat-toolbar>
