.ubicacion{
  padding-right: 225px;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active{
  color: #DBCDE6;
}
.navegacion-menu{
  list-style: none;
  padding: 0;
  margin: 0;

}
.navegacion-menu{
  list-style: none;
  padding: 0;
  margin: 0;
}

.contenedor {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: left;
}

.contenedor li {
  min-width: 80px; /* ajustar el ancho mínimo según sea necesario */
  vertical-align: middle;
}

mat-toolbar{
  height:80px;
}

.navegacion-menu li {
  text-decoration: underline;
  text-decoration-color: white;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

button {
  border: none;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}
