
a{
  text-decoration: none;
  color: #fff;
}
a:hover,
a:active{
  color: #DBCDE6;
}

.navegacion-menu{
  list-style: none;
  padding: 0;
  margin: 0;
}

.contenedor {
  width: 100%;
}

.contenedor li {
  min-width: 80px; /* ajustar el ancho mínimo según sea necesario */
  vertical-align: middle;
}

mat-toolbar{
  height:100%;
}

.navegacion-menu li {
  text-decoration: underline;
  text-decoration-color: white;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

button {
  border: none;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}

@media only screen and (max-width: 1000px) {
  .logo_container img {
    display: none;
  }

}

@media only screen and (max-width:1270px){
  .navegacion-menu li a {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {

  .navegacion-menu li {
    display: inline-block;
  }

}


