
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="descripcion">
    <mat-header-cell *matHeaderCellDef> descripcion</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.descripcion }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="estado">
    <mat-header-cell *matHeaderCellDef> estado</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.estado }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="corregido">
    <mat-header-cell *matHeaderCellDef> corregido</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.corregido }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="observaciones">
    <mat-header-cell *matHeaderCellDef> observaciones</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.observaciones }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <mat-header-cell *matHeaderCellDef> fecha</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.fecha }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="imagenes">
    <mat-header-cell *matHeaderCellDef> imagenes</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.imagenes }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="modificar">
    <mat-header-cell *matHeaderCellDef> modificar informe</mat-header-cell>
    <mat-cell *matCellDef="let element" ><a href="registrarMantenimiento?id={{element.id}}&Ubicacionid={{this.idUbicacion}}"><mat-icon>update</mat-icon></a></mat-cell>
  </ng-container>
  <ng-container matColumnDef="eliminar">
    <mat-header-cell *matHeaderCellDef> eliminar informe</mat-header-cell>
    <mat-cell *matCellDef="let element"><button (click)="eliminar(element.id)"><mat-icon>delete</mat-icon></button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="desplegarColumnas"></mat-header-row>
  <mat-row *matRowDef="let row; columns: desplegarColumnas"></mat-row>
</mat-table>
