mat-table {
  width: 100%;

}
mat-cell{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
mat-cell,
mat-header-cell {
  min-width: 170px;
  text-align: left;
  white-space: normal;
  overflow: visible;
  justify-content: left;
}

.even-row {
  background-color: #f5f5f5;
  }
    .even-row:hover {
   background-color: #f5f5f5 !important
  }
.mat-cell,
.mat-header-cell {
  min-width: 170px;
}

.eliminar-button {
  color: red;
  background: none;
  border: none;
}

.eliminar-button:hover {
  cursor: pointer;
}

.responsive-table {
  overflow-x: auto;
  display: block;
  width: 100%;
}

button[type="submit"] {
  margin-top: 20px;
  height: 40px;
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

mat-table,
mat-paginator {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 1);
  border-radius: 1px;
  overflow: hidden;
}

@media (max-width: 599px) {
  .responsive-table {
    display: flex;
    flex-direction: column;
  }
}

a {
  color: #2b7cd8;
  text-decoration: none;
}
